header {
    color:white;
    background-color: red;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    height: 200px;
    width: 400px;
    text-align: center;
    margin: auto;
}

p {
    color: black;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: larger;
    background-color: seashell;
    padding: 15px;

}

h2 {
    font-weight: bold;
    text-align: center;
}
input {
    text-align: center;
    margin: auto;
}

button {
    background-color: seagreen;
    border-radius: 5px;
    text-align: center;
    margin: auto;
}